<div class="container">
    <div class="container-fluid">
      <div class="navbar-logo">
        <img src="./assets/logo.png">
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" href="#">{{title}}</a>
        <div class="search-wrapper">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input id="search" type="text" class="form-control" placeholder="Wyszukaj miejsce...">
          </div>
        </div>
      </div>

    </div>

  <div class="container-fluid">
    <nav class="navbar navbar-default">
    <div class="sidebar-wrapper">
      <ul class="nav sidebar-nav">
        <li class="active"><a href="#">Strona domowa</a></li>
        <li><a href="#">Profil</a></li>
        <li><a href="#">Znajomi</a></li>
        <li><a href="#">Wyprawy</a></li>
      </ul>
    </div>
    </nav>
  </div>
  <app-dashboard></app-dashboard>
</div>
